<div class="cartPanel">
    <div class="topCart">
                        <span class="orderTitle">
                            Order
                            <span class="badge number-of-orders">0</span>
                        </span>
        <span class="clear" id="clear">Clear order</span>

    </div>

    <div class="center">
        <div class="message emptyFridge">
            <div> Пусто в холодильнику?</div>
            <div> Замовте піцу!</div>
        </div>


    </div>

    <div class="bottomCart">
        <span class="price-title">Sum:</span>
        <span class="price" id="price">0 grn</span>
        <div class="button">
            <span class="btn btn-warning btn-lg order-button">Order</span>
        </div>
    </div>
</div>
</div>